<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <script
            src="https://www.paypal.com/sdk/js?components=buttons,hosted-fields&merchant-id=<%= owner.paypalBusinessId %>&client-id=<%= clientId %>&intent=capture&currency=EUR"

            data-client-token="<%= clientToken %>"
        ></script>
        <title>Paypal</title>
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                margin: 0;
                padding: 20px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }
            button {
                all: unset;
                text-align: center;
                padding: 5px 20px;
                background-color: rgb(143, 65, 158);
                color: white;
                text-transform: uppercase;
            }
            #card-form {
                background-color: rgb(247, 247, 247);
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            #card-form > div {
                width: 100%;
                height: 100%;
                display: contents;
                flex-direction: column;
                position: relative;
                background-color: greenyellow;
                font-size: 24;
            }
            #card-form > div > div {
                display: flex;
            }
            #card-form > div > label {
                width: 100%;
            }
            #paypal-button {
            }
            .card_field {
                height: 40px;
                padding: 0px 10px;
                font-size: 24;
            }
        </style>
    </head>

    <body id="body">
        <h2><%= party.name %></h2>
        <form id="card-form">
            <p hidden id="party-id"><%= party.id %></p>
            <p hidden id="customer-id"><%= customer.id %></p>
            <div>
                <div id="card-number" class="card_field"></div>
                <div>
                    <div id="expiration-date" class="card_field"></div>
                    <div id="cvv" class="card_field"></div>
                </div>
            </div>
            <button type="submit">submit</button>
        </form>
        <div id="paypal-button"></div>
    </body>

    <script defer>

    if (window.ReactNativeWebView) window.ReactNativeWebView.postMessage(paypal.HostedFields.isEligible() );
    paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,
        createOrder: () => {
            return buyTicket().then((res) => {
                 
                orderId = res.customId;
                if (window.ReactNativeWebView){
                    window.ReactNativeWebView.postMessage(
                        "res" + res.id
                    );
                }
                return res.id;
            });
        },
        onApprove: () => {
            fetch(`/confirm-email/${orderId}`)
                .then((res) => res.json())
                .then((orderData) => {
                    console.log(orderData);
                    var errorDetail =
                        Array.isArray(orderData.details) &&
                        orderData.details[0];
                    if (errorDetail) {
                        var msg =
                            "Sorry, your transaction could not be processed.";
                        if (errorDetail.description)
                            msg += "\n\n" + errorDetail.description;
                        if (orderData.debug_id)
                            msg += " (" + orderData.debug_id + ")";
                        return alert(msg); // Show a failure message
                    }
                    // Show a success message or redirect
                    if (orderData.msg) alert(orderData.msg);
                });
        },
        onCancel: ()=>{
            if (window.ReactNativeWebView){
                    window.ReactNativeWebView.postMessage(
                        "try cancel order: " + orderId
                    );
                }
            fetch(`/cancel-order/${orderId}`, {
                method: "DELETE"
            })
                .then((res) => res.json())
                .then((orderData) => {
                    alert("order canceled");
                })
        }
    })
    .render("#paypal-button");

    async function buyTicket() {
        //let res0 = await fetch("/buy");]=
        const partyId = document.getElementById("party-id").innerText;
        const customerId =
            document.getElementById("customer-id").innerText;
        if (window.ReactNativeWebView)
            window.ReactNativeWebView.postMessage(
                "create order  !" + partyId
            );
        //if (window.ReactNativeWebView) window.ReactNativeWebView.postMessage("create order  !" + partyId);
        // window.ReactNativeWebView.postMessage("create order  !" + partyId + customerId);
        //console.log(partyId)
        const body = {
            partyId: partyId,
            customerId: customerId,
        };
        //window.ReactNativeWebView.postMessage(body);

        let res = await fetch("/buy", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(body),
        });
        console.log(res);
        // window.ReactNativeWebView.postMessage("create order!" + res);
        res = await res.json();
        //window.ReactNativeWebView.postMessage("create order!" +  res);

        return res;
    }
    if (!paypal.HostedFields.isEligible() && window.ReactNativeWebView) {
        window.ReactNativeWebView.postMessage("loaded"); 
        //document.getElementById("console").innerHTML = "<h1>Hosted fields not available</h1>" + paypal.HostedFields.render;
    }
    if (paypal.HostedFields.isEligible()) {

            let orderId;
            const form = document.getElementById("card-form");
            const inputs = document.getElementsByClassName("card_field");
            const body = document.getElementById("body");

            //window.ReactNativeWebView.postMessage("create order res 0 !" );
            //window.ReactNativeWebView.postMessage("create " + partyId + "create " + customerId );

            

            
            paypal.HostedFields.render({
                // Call your server to set up the transaction
                
                createOrder: () => {
                    //document.getElementById("console").innerHTML = "red"
                    window.ReactNativeWebView.postMessage("create order! cocco");
                    return buyTicket().then((res) => {
                        orderId = res.customId;
                        return res.id;
                    });
                    // needed later to complete capture
                },
                styles: {
                    input: {
                        "font-size": "18px",
                        padding: "5px",
                    },
                    ".valid": {
                        color: "green",
                    },
                    ".invalid": {
                        color: "red",
                    },
                },
                fields: {
                    number: {
                        selector: "#card-number",
                        placeholder: "Card Number",
                        maxCardLength: 16,
                    },
                    expirationDate: {
                        selector: "#expiration-date",
                        placeholder: "MM/YY",
                    },
                    cvv: {
                        selector: "#cvv",
                        placeholder: "CVV",
                    },
                },
            })
                .then((cardFields) => {
                    document
                        .querySelector("#card-form")
                        .addEventListener("submit", (event) => {

                            event.preventDefault();
                            //window.ReactNativeWebView.postMessage("submit");
                            cardFields
                                .submit({})
                                .then(() => {
                                    window.ReactNativeWebView.postMessage("submit");
                                    return fetch(`/confirm-email/${orderId}`);
                                })
                                .then((res) => res.json())
                                .then((orderData) => {
                                    console.log(orderData);
                                    // Two cases to handle:
                                    // (1) Non-recoverable errors -> Show a failure message
                                    // (2) Successful transaction -> Show confirmation or thank you
                                    // This example reads a v2/checkout/orders capture response, propagated from the server
                                    // You could use a different API or structure for your 'orderData'
                                    var errorDetail =
                                        Array.isArray(orderData.details) &&
                                        orderData.details[0];
                                    if (errorDetail) {
                                        var msg =
                                            "Sorry, your transaction could not be processed.";
                                        if (errorDetail.description)
                                            msg +=
                                                "\n\n" +
                                                errorDetail.description;
                                        if (orderData.debug_id)
                                            msg +=
                                                " (" + orderData.debug_id + ")";
                                        return alert(msg); // Show a failure message
                                    }
                                    // Show a success message or redirect
                                    if (orderData.msg) alert(orderData.msg);
                                });
                        });
                })
                .then(() => {
                    if (window.ReactNativeWebView)
                        window.ReactNativeWebView.postMessage("loaded");
                })
                .catch((err) => {
                    //;if(err) alert("Payment could not be captured! " + JSON.stringify(err));
                });
        }
    </script>
</html>
